@import "../../styles/variables";
@import "../../styles/functions";
@import "../../styles/mixins";

.root {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .sectionTitle {
    margin: 0;
    color: $inverse-heading-color;
  }
}
