---
---

@charset "UTF-8";

// 1. Configuration and helpers
@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";

// 2. Vendors
@import "vendor/normalize";
@import "vendor/pygments";
@import "vendor/third-party";

// 3. Base stuff
@import "base/base";
@import "base/typography";
@import "base/code";
@import "base/helpers";

// 4. Layout-related sections
@import "layout/grid";
@import "layout/masthead";
@import "layout/footer";
@import "layout/archive";

// 5. Components
@import "components/widget";
@import "components/related";
@import "components/message";
@import "components/video-wrapper";
@import "components/pagination";
@import "components/social-links";

// 6. Page-specific styles
@import "pages/home";
@import "pages/posts";

// 7. Themes
@import "themes/default";
