{% assign project_count = site.data.projects | size %}
{% if project_count > 0 %}
  <div class="archive">
    {% assign projects_sorted = site.data.projects %}
    {% for project in projects_sorted %}
      <div class="archive-item">
        <span class="archive-date">
          {{ project.year }}
        </span>
        {% if project.languages %}
          {% for language in project.languages %}
            <span class="project-language {{ language.class }}">{{ language.name }}</span>
          {% endfor %}
        {% endif %}
        <a href="{{ project.url }}">{{ project.title }}</a>
        <p class="archive-details">
          {% if project.details %}
            {{ project.details }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
{% else %}
  <div class="archive">
    <div class="archive-item">
      <span class="text-muted">No projects available.</span>
    </div>
  </div>
{% endif %}
