// Helpers
//
// Basic helpers for HTML layouts.

// Text alignment
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

// Text modifiers
.text-muted {
  color: $body-color-muted;
}

// Visibility
.hidden-sm {
  @media (max-width: $large-breakpoint) {
    display: none;
  }
}
.hidden-lg {
  @media (min-width: $large-breakpoint) {
    display: none;
  }
}
