.container {
  padding: $grid-gutter;
  margin: 0;
  max-width: 48rem;

  @media (min-width: $large-breakpoint) {
    padding: $grid-gutter-lg;
  }
}

header {
  margin-bottom: 2rem;

  h1 {
    margin: 0;
  }
}

footer {
  small {
    display: block;
  }
}
