.logs {
  margin-bottom: 4rem;
}

.log-title {
  margin-top: 0;

  a {
    color: $text-color-primary;
  }
}

// Posts archive
.archive {
  a {
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;

      .archive-title {
        text-decoration: underline;
      }
    }
  }
}
