// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  @include clearfix;
  padding: 0;
  margin: 0;

  a {
    color: $heading-color;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
    }
  }
}

.masthead-brand {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: $body-color;

  small {
    font-size: 75%;
    letter-spacing: 0;
    opacity: .5;
  }
}

.masthead-logo {
  img {
    max-width: 2rem;
    max-height: 2rem;
    margin: 0;
    background-color: $border-color;
    border-radius: 0;
  }
}

.masthead-nav {
  display: block;
  font-size: 1rem;
  font-weight: 300;

  a {
    display: inline-block;
    line-height: 2;

    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }
}
