h1, h2, h3, h4, h5, h6 {
  margin-bottom: .25rem;
  font-weight: 400;
  color: $heading-color;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

strong {
  color: $heading-color;
}

hr {
  width: 8rem;
  margin: 2rem 0;
  border-top: 1px solid darken($border-color, 2.5%);
  border-bottom: 0;
}
