h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  color: $heading-color;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

strong {
  color: $heading-color;
}

hr {
  width: 8rem;
  margin: 2rem 0;
  border-top: 1px solid darken($border-color, 2.5%);
  border-bottom: 0;
}

abbr {
  color: $abbr-color;

  &[title] {
    text-decoration: none;
    border-bottom: 1px dotted $abbr-border-color;
  }
}

blockquote {
  color: $blockquote-color;
  border-left: .25rem solid $border-color;
}
