// Variables
//
// Customisable variables for most style elements of the theme.

// TODO: Check again, make sure all customisable elements are available here.

// Colours based off of the Mozilla colour palette
// https://mozilla.ninja/visualelements

// Primary colours
$black: #000;
$white: #fff;

// Secondary colours
$blue-1: #33525d;
$blue-2: #558194;
$blue-3: #88d1f1;
$blue-4: #c3e8f8;
$orange-1: #5e4812;
$orange-2: #c89631;
$orange-3: #f8b83e;
$orange-4: #fadb8c;
$red-1: #5d3739;
$red-2: #c07578;
$red-3: #fb8e92;
$red-4: #fdc6c8;
$purple-1: #454653;
$purple-2: #9194b0;
$purple-3: #b0b4e5;
$purple-4: #d7d9f2;
$green-1: #434f12;
$green-2: #6d7c23;
$green-3: #b7d43f;
$green-4: #dbea8e;

// Tertiary colors
$gray-1: #646363;
$gray-2: #9d9d9c;
$gray-3: #d0d0d0;
$neonblue-1: #3dfefd;
$neonblue-2: #229d9a;
$neonblue-3: #116362;
$neongreen-1: #aefb4a;
$neongreen-2: #6b9b2b;
$neongreen-3: #44611a;
$neonpurple-1: #f793fb;
$neonpurple-2: #ca78cc;
$neonpurple-3: #603861;
$yellow: #feed01;

// Reassign colours to a Base16-compatible color palette
// https://chriskempson.github.io/base16/
$base00: #18262F;
$base01: #222E38;
$base02: #586875;
$base03: #667581;
$base04: #85939E;
$base05: #A6AFB8;
$base06: #E8E9ED;
$base07: #F5F7FA;
$base08: #EF5253;
$base09: #E66B2B;
$base0A: #E4B51C;
$base0B: #7CC844;
$base0C: #52CBB0;
$base0D: #33B5E1;
$base0E: #A363D5;
$base0F: #D73C9A;


// Font stack
$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;;
$font-family-serif: "Zilla Slab", Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// Font dimensions
$font-size: 16px;
$font-size-lg: 18px;
$line-height: 1.25;
$line-height-lg: 1.375;

// Body text/background colors
$body-bg: $base07;
$body-color: $base01;
$body-color-muted: $base04;
$heading-color: $base00;
$inverse-bg: $base00;
$inverse-color: $base06;
$inverse-color-muted: $base04;
$inverse-heading-color: $base07;

// Links
$link-color: $base0D;
$link-hover-color: darken($link-color, 25%);

// Tables & borders
$border-color: $base06;
$inverse-border-color: $base01;
$table-border-color: darken($border-color, 5%);
$table-odd-background-color: darken($body-bg, 5%);

// Code
$code-color: darken($base08, 25%);
$code-background-color: darken($body-bg, 5%);
$code-linenos-color: $base05;
$inverse-code-color: $base08;
$inverse-code-background-color: lighten($inverse-bg, 5%);

// Blockquote
$blockquote-color: $base02;
$blockquote-border-color: $border-color;
$inverse-blockquote-color: $base05;
$inverse-blockquote-border-color: $inverse-border-color;

// Posts & post archives
$post-header-background-color: $heading-color;
$post-header-title-color: $body-bg;
$post-header-external-color: $base0F;
$post-subtitle-highlight-color: $base0A;
$post-archive-title-color: $heading-color;
$post-archive-date-color: $body-color-muted;
$post-archive-background-color: transparent;
$post-archive-background-hover-color: lighten($base0C, 25%);
$post-archive-external-background-color: lighten($base0E, 15%);
$post-archive-external-background-hover-color: darken($post-archive-external-background-color, 5%);

// Pagination
$pagination-color: $heading-color;
$pagination-background-hover-color: $base0C;
$pagination-disabled-color: $body-color-muted;
$pagination-disabled-background-hover-color: darken($body-bg, 5%);

// Masthead
$masthead-border-color: $heading-color;
$masthead-title-color: $base07;
$masthead-title-hover-color: $base07;
$masthead-title-background-color: $base00;
$masthead-link-color: darken($link-color, 25%);
$masthead-link-background-color: darken($body-bg, 5%);
$masthead-link-active-color: $heading-color;
$masthead-link-active-background-color: lighten($base0C, 20%);

// Widgets
$widget-social-links-highlight-color: lighten($base0C, 20%);

// Homepage
$home-masthead-background-color: $base00;
$home-masthead-flavor-background-color: $base07;

// Skill level colors for skillset widget
$skill-level-learning: $base09;
$skill-level-beginner: $base0A;
$skill-level-average: $base0B;
$skill-level-proficient: $base0D;

// ttbp specific variables
$ttbp-permalink-date-link-color: lighten($base0E, 15%);
$ttbp-permalink-background-color: lighten($base0E, 15%);

// Media breakpoints
// (NOTE: Always use @media (min-width) when using these variables.)
$media-breakpoint-xs: 0;
$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

// Dimensions for grid
$max-width: 750px;
$max-width-lg: 970px;
$container-padding: 1.5rem;
$container-padding-lg: 3rem;
