// Posts archive
//
// Inline list of posts.

.archive {
  margin: 1rem 0;

  a {
    color: inherit;

    @include on-event {
      text-decoration: none;
    }
  }
}

.archive-item {
  display: block;
  margin: .5rem 0;

  .archive-title {
    @include highlighted-text($post-archive-background-color, .25rem, .5rem);
    display: inline-block;
    color: $heading-color;

    @include on-event {
      background-color: darken($post-archive-background-color, 5%);
    }
  }

  // Use different background if it's an external post.
  .is-external {
    background-color: $post-archive-external-background-color;

    @include on-event {
      background-color: darken($post-archive-external-background-color, 5%);
    }
  }

  .archive-date {
    display: block;
    margin-bottom: .25rem;
    padding: .25rem .5rem;
    color: $body-color-muted;

    @media (min-width: $media-breakpoint-md) {
      float: right;
      margin-bottom: 0;
    }
  }

  .archive-details {
    margin: 0.5rem 0 1rem;
    color: $body-color;
  }
}
