// Posts archive
//
// Inline list of posts.

.archive {
  margin: 1rem 0;
}

.archive-item {
  display: block;
  margin: .75rem 0;

  .archive-title {
    padding: 0;
    display: inline-block;
    color: $link-color;

    @include on-event {
      color: $link-hover-color;
    }
  }

  // Use different background if it's an external post.
  .is-external {
    @include highlighted-text($post-archive-external-background-color, 0, .25rem);
    color: $heading-color;

    @include on-event {
      background-color: darken($post-archive-external-background-color, 5%);
      color: $heading-color;
    }
  }

  .archive-date {
    display: block;
    margin-bottom: .25rem;
    padding: 0;
    color: $body-color-muted;

    @media (min-width: $media-breakpoint-md) {
      float: right;
      margin-left: 1rem;
      margin-bottom: 0;
    }
  }

  .archive-details {
    margin: .5rem 0 1rem;
    color: $body-color;
  }
}

// specific for peoject archives

.project-language {
  @include highlighted-text($post-archive-external-background-color, 0, .25rem);
  margin-right: .25rem;
  background-color: $gray-2;
  color: $inverse-heading-color;

  &--html {
    background-color: $language-html;
  }

  &--css {
    background-color: $language-css;
  }

  &--js {
    background-color: $language-js;
  }

  &--typescript {
    background-color: $language-typescript;
  }

  &--other {
    background-color: $language-other;
  }
}
