// Grid
//
// Styles specific to the grid layout of the website.

// Main content containers
// 1. Make the container full-width with a maximum width
// 2. Center it in the viewport
// 3. Leave some space on the edges, especially valuable on small screens
// 4. Break into a larger width on latger screens
.container {
  max-width: $max-width; // 1
  margin-left: auto; // 2
  margin-right: auto; // 2
  padding-left: $container-padding; // 3
  padding-right: $container-padding; // 3

  @media (min-width: $media-breakpoint-lg) {
    max-width: $max-width-lg;
    padding-left: $container-padding-lg; // 3
    padding-right: $container-padding-lg; // 3
  }
}

// Mobile first grid
.column {
  margin-bottom: 1.5rem;

  @media (min-width: $media-breakpoint-md) {
    float: left;
    margin: 0;
    padding-left: $container-padding;
    padding-right: $container-padding;

    &.full { width: 100%; }
    &.two-thirds { width: 66.7%; }
    &.half { width: 50%; }
    &.third { width: 33.3%; }
    &.fourth { width: 25%; }
    &.flow-opposite { float: right; }
  }
}
