$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;

$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #268bd2;
// $blue: #6a9fb5;
$brown: #8f5536;

$root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$root-font-size: 16px;
$root-line-height: 1.5;

$body-color: $gray-2;
$body-bg: $gray-5;
$heading-color: #fff;
$link-color: $gray-1;

$border-color: darken($gray-5, 2.5%);

$large-breakpoint: 38em;
$large-font-size: 20px;

$grid-gutter: 1rem;
$grid-gutter-lg: 3rem;

$code-font-family: Menlo, Monaco, "Consolas", "Courier New", monospace;
$code-color: #bf616a;
