// Base16 color palette (https://chriskempson.github.io/base16/)
$base00: #1d1f21;
$base01: #282a2e;
$base02: #373b41;
$base03: #969896;
$base04: #b4b7b4;
$base05: #c5c8c6;
$base06: #e0e0e0;
$base07: #ffffff;
$base08: #cc6666;
$base09: #de935f;
$base0A: #f0c674;
$base0B: #b5bd68;
$base0C: #8abeb7;
$base0D: #81a2be;
$base0E: #b294bb;
$base0F: #a3685a;

// Base variables
$root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$root-font-size: 16px;
$root-line-height: 1.5;

// Typography
$body-color: $base05;
$body-color-muted: darken($base05, 15%);
$body-bg: $base01;
$heading-color: $base07;
$link-color: $base0D;
$abbr-color: $base06;
$abbr-border-color: darken($base03, 5%);
$blockquote-color: darken($body-color, 15%);

// Tables
$table-odd-background-color: darken($base01, 1%);

// Other components
$border-color: darken($base01, 2.5%);
$message-text-color: $base06;
$message-background-color: $border-color;

// Responsiveness
$large-breakpoint: 38em;
$large-font-size: 18px;

// Grid gutter
$grid-gutter: 1.5rem;
$grid-gutter-lg: 3rem;

// Code
$code-font-family: Consolas, "Liberation Mono", Menlo, Monaco, Courier New, monospace;
$code-color: #bf616a;
$code-background-color: $border-color;
