// Mixins
//
// Application-wide Sass mixins.

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:focus {
      @content;
    }
  }
}

/// Clears floats via mixin
/// @author Nicolas Gallagher
/// @link http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/// Create the "section title" effect.
/// 1. Negative margin is applied according to the container margin to
///    ensure the content aligns cleanly
/// 2. Positive padding on the left side to counter the negative margin for that
///    distinct box effect
/// 3. Different right padding for larger screens
/// @param $vertical-padding [.5rem] - Set vertical padding for the wrapper
@mixin section-heading($vertical-padding: .5rem) {
  display: inline-block;
  margin-left: -($container-padding); // 1
  margin-right: -($container-padding); // 1
  padding: $vertical-padding $container-padding; // 2
  background-color: $post-header-background-color;
  color: $post-header-title-color;

  @media (min-width: $media-breakpoint-lg) {
    margin-left: -($container-padding-lg); // 1
    padding-left: $container-padding-lg; // 2
    padding-right: 2rem; // 3
  }
}

/// Create highlighted text with padding that correctly wraps.
/// 1. This is needed for Chrome and Safari to properly render `box-decoration-
///    break`.
/// @param $background - Highlight background
/// @param $vertical-padding [0] - Set vertical padding for the wrapper
/// @param $horizontal-padding [.25rem] - Set horizontal padding for the wrapper
@mixin highlighted-text($background, $vertical-padding: 0, $horizontal-padding: .25rem) {
  padding: $vertical-padding $horizontal-padding;
  background-color: $background;
  -webkit-box-decoration-break: clone; // 1
  box-decoration-break: clone;
}
