@import "../../styles/variables";
@import "../../styles/functions";
@import "../../styles/mixins";

.root {
  display: block;
  max-width: 300px;
  position: relative;
  margin-top: 1.5rem;
  padding-bottom: .5rem;
  padding-right: 2rem;
  border-bottom: 2px solid $link-color;
  text-decoration: none;

  &:after {
    display: block;
    position: absolute;
    right: 0;
    bottom: .5rem;
    content: "🡲";
  }

  @media (min-width: $media-breakpoint-md) {
  }

  @include on-event {
    border-bottom-color: $link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}
