// Skillset
//
// The skillset widget.

.skillset {
  .skill-box {
    width: 100%;
    margin: 1.5rem 0;
    line-height: 2rem;

    .skill-box-head {
      margin-bottom: .5rem;

      .skill-box-title {
        display: inline-block;
        margin: 0;
        vertical-align: bottom;
      }
    }
  }

  .skill-level {
    margin-left: .5rem;
    font-weight: 400;
    line-height: 2rem;

    &--learning {
      @include highlighted-text($skill-level-learning);
      color: $inverse-heading-color;
      line-height: 1.6;
    }

    &--beginner {
      @include highlighted-text($skill-level-beginner);
      color: $inverse-heading-color;
      line-height: 1.6;
    }

    &--average {
      @include highlighted-text($skill-level-average);
      color: $inverse-heading-color;
      line-height: 1.6;
    }

    &--proficient {
      @include highlighted-text($skill-level-proficient);
      color: $inverse-heading-color;
      line-height: 1.6;
    }
  }

  .skill-bar {
    width: 100%;
    border-radius: 3px;
    background-color: $border-color;

    .skill-bar-progress {
      display: block;
      height: 1rem;
      border-radius: 3px;

      &--learning {
        background-color: $skill-level-learning;
      }

      &--beginner {
        background-color: $skill-level-beginner;
      }

      &--average {
        background-color: $skill-level-average;
      }

      &--proficient {
        background-color: $skill-level-proficient;
      }
    }
  }
}
