// Social links
//
// Basic widget for social links.

.widget-social-links {
  .social-link {
    @include highlighted-text($widget-social-links-highlight-color);
    color: $heading-color;
    line-height: 1.6;

    @include on-event {
      background-color: darken($widget-social-links-highlight-color, 5%);
      text-decoration: none;
    }
  }
}
