@import "../../styles/variables";
@import "../../styles/functions";
@import "../../styles/mixins";

.root {
  margin-bottom: 2rem;

  .headerInner {
    @include section-heading();

    a {
      color: inherit;
    }

    // Custom modifier for posts with external links
    &.withExternalLink {
      color: $post-header-external-color;

      a {
        color: $post-header-external-color;
      }
    }
  }

  &.withImage {
    width: 100%;

    img {
      display: none;

      @media (min-width: $media-breakpoint-md) {
        display: block;
        width: 100%;
        min-height: 400px;
        max-height: 500px;
        // Similar to `background-size: cover`
        object-fit: cover;
      }
    }

    @media (min-width: $media-breakpoint-md) {
      position: relative;

      .headerInner {
        position: absolute;
        bottom: 3rem;
        max-width: 70%;
      }
    }
  }
}
