@import "../../styles/variables";
@import "../../styles/functions";
@import "../../styles/mixins";

.projectItemList {
  @include clearfix;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 2px solid $heading-color;

  @media (min-width: $media-breakpoint-md) {
    flex-direction: row;
    border-bottom: 0;
  }

  > div {
    border-top: 2px solid $heading-color;
  }
}
