@import "../../styles/variables";
@import "../../styles/functions";
@import "../../styles/mixins";

.root {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .sectionTitle {
    @include section-heading(.25rem);
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .projectItemList {
    margin: 2rem 0;

    > div {
      border-top: 2px solid $heading-color;

      &:last-child {
        border-bottom: 2px solid $heading-color;
      }
    }
  }
}

.projectItem {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .projectName {
    margin-top: 0;
  }

  .projectLanguage {
    padding: .25em .75em;
    font-size: 85%;
    color: $white;
    background-color: lighten($black, 15%);
    border-radius: 3px;

    + .projectLanguage {
      margin-left: .5rem;
    }
  }

  .projectDetailBox {
    margin-top: 1rem;

    p {
      margin-bottom: 0;
    }
  }

  .projectLink {
    display: inline-block;
    margin-top: 1rem;
    padding: .25rem .5rem;
    border: 2px solid $link-color;

    @include on-event {
      color: $inverse-heading-color;
      border-color: $link-hover-color;
      background-color: $link-hover-color;
      text-decoration: none;
    }
  }

  // Use different background if it's an external post.
  .external {
    @include highlighted-text($post-archive-external-background-color, 0, .25rem);
    color: $heading-color;

    @include on-event {
      background-color: darken($post-archive-external-background-color, 5%);
      color: $heading-color;
    }
  }

  .projectYear {
    display: inline-block;
    margin-left: 1rem;
    font-family: $font-family-sans-serif;
    font-size: 70%;
    color: $body-color-muted;
  }
}
