@import "../../styles/variables";
@import "../../styles/functions";
@import "../../styles/mixins";

.root {
  margin: 1rem 0 2rem;
  padding: 1rem 0;
  border-top: 4px solid $base0C;
  border-bottom: 4px solid $base0C;
  font-size: 1.25rem;
  font-weight: 300;

  @media (min-width: $media-breakpoint-sm) {
    width: 75%;
    font-size: 1.5rem;
  }
}
