<header>
  <div class="header-inner">
    <div class="container">
      <div class="title">
        <!--div class="header-icon">
          <div class="icon">
            <img src="{{ site.baseurl }}/public/images/logo.png" alt="">
          </div>
        </div-->

        <div class="flavour">
          <h1 class="big-title"><span>resir014</span></h1>
          <div class="big-subtitle">
            <span class="bg-base0A text-base00" id="flavorText"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
