<nav class="site-nav">
  <ul>
  {% for link in site.nav %}
    {% if link.title %}
    {% assign current = '' %}
    {% if page.url contains link.url %}{% assign current = 'current' %}{% endif %}
    {% if link.url contains '/index.html' %}
      <li class="{{ current }}"><a class="page-link" href="{{ '/' | prepend: site.baseurl }}">{{ link.title }}</a></li>
    {% else %}
      <li class="{{ current }}"><a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a></li>
    {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
</nav>
