// Typography
//
// Headings, body text, lists, and other typographic elements.

// Headings mainly follow the typography scaling guidelines outlined here:
// https://typecast.com/blog/a-more-modern-scale-for-web-typography

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: $font-family-serif;
  font-weight: 600;
  color: $heading-color;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
  line-height: 1.25;

  @media (min-width: $media-breakpoint-md) {
    font-size: 2.5rem;
    line-height: 1.125;
  }

  @media (min-width: $media-breakpoint-lg) {
    font-size: 3rem;
    line-height: 1.05;
  }
}

h2 {
  font-size: 1.62rem;
  line-height: 1.15384615;

  @media (min-width: $media-breakpoint-md) {
    font-size: 2rem;
    line-height: 1.25;
  }

  @media (min-width: $media-breakpoint-lg) {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.375rem;
  line-height: 1.13636364;

  @media (min-width: $media-breakpoint-md) {
    font-size: 1.5rem;
    line-height: 1.25;
  }

  @media (min-width: $media-breakpoint-lg) {
    font-size: 1.75rem;
  }
}

h4, h5, h6 {
  font-size: 1.125rem;
  line-height: 1.11111111;

  @media (min-width: $media-breakpoint-md) {
    line-height: 1.22222222;
  }
}

p {
  margin: 0 0 1rem;
}

strong {
  color: $heading-color;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-bottom: 1px solid $border-color;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: $body-color;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted $border-color;
  }
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: $blockquote-color;
  border-left: .25rem solid $blockquote-border-color;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $media-breakpoint-sm) {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}


// Markdown footnotes
//
// See the example content post for an example.

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}

// List of footnotes
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}

// Custom type
//
// Extend paragraphs with `.lead` for larger introductory text.

.lead {
  font-size: 1.25rem;
  font-weight: 300;

  @media (min-width: $media-breakpoint-md) {
    font-size: 1.5rem;
  }
}
