// Code
//
// Inline and block-level code snippets. Includes tweaks to syntax highlighted
// snippets from Pygments/Rouge and Gist embeds.

code,
pre {
  font-family: $font-family-monospace;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: $code-color;
  background-color: $code-background-color;
  border-radius: 3px;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow-x: auto;
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
